<% layout('layouts/boilerplate') %>
    <!-- <%# link to images.css for styling added file images %>
        <link rel="stylesheet" href="/stylesheets/images.css" class="rel"> -->


    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" class="validated-form" novalidate
                enctype="multipart/form-data">
                <div class=" mb-3">
                    <label class="form-label" for="titile">Title: </label>
                    <input type="text" class="form-control" name="campground[title]" id="titile"
                        value="<%= campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Location: </label>
                    <input type="text" class="form-control" name="campground[location]" id="location"
                        placeholder="city, state" value="<%= campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Price: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" name="campground[price]" id="price" placeholder="0.00"
                            aria-label="Price (to the nearest dollar)" aria-describedby="price-label"
                            value="<%= campground.price %>" required>
                        <!-- <span class="input-group-text">.00</span> Note: unnecesary text since it's in 'placeholder' -->
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <%# more specific file picking input, from Bootstrap %>

                    <%# more specific file picking input, from Bootstrap %>
                        <div class="mb-3">
                            <label for="image" class="form-label">Add more image(s)</label>
                            <input class="form-control" type="file" id="image" name="image" multiple>
                            <div class="mt-3" id="formFile"></div>
                        </div>

                        <!-- <div class="input-group mb-3">
                        <input type="file" class="form-control" id="image" name="image" multiple>
                        <%# image input Note: 'multiple' attribute allows users to upload multiple image files%>
                            <label class="input-group-text" for="image">Upload</label>
                    </div> -->
                        <%# CANCELED CODE!! %>

                            <!-- <div class="mb-3">
                    <label class="form-label" for="image">Add Images </label>
                    <%# image input Note: 'multiple' attribute allows users to upload multiple image files%>
                        <input type="file" name="image" id="image" multiple>
                        <!-- <input type="text" class="form-control" name="campground[image]" id="image" value="<%= campground.image %>"
                required>
            <div class="valid-feedback">
                Looks good!
            </div> -->
                            <!-- </div> -->

                            <div class="mb-3">
                                <label class="form-label" for="description">Description: </label>
                                <textarea type="text" class="form-control" name="campground[description]"
                                    id="description" required> <%= campground.description %> </textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <% campground.images.forEach(function(img, i) {%>
                                    <%# first display already uploaded images %>
                                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                                        <%# for check boxes next to each image %>
                                            <div class="form-check-inline">
                                                <%# Note: the 'value' attribute is the specified value of the image
                                                    that'll help identify and delete it, server-side. %>
                                                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]"
                                                        value="<%= img.filename %>">
                                            </div>
                                            <%# Note: 'for' attribute assigns label to designated input type, in this
                                                case, a designated checkbox; the one with a matching id. %>
                                                <label for="image-<%=i%>">Delete?</label>
                                                <% } )%>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-info">Submit Changes</button>
                            </div>
            </form>

            <a href=" /campgrounds/<%= campground._id %>">Back to Campground</a>
        </div>
    </div>